<!DOCTYPE html>
<html lang="sv-SE">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <title>nilleglad</title>
</head>
<body id="report">
    <div id="report-content">
        <div id="report-title"><a href=".">NILLEGLAD</a></div>
        <div id="report-toolbar">
            <div><a href="mailto:${mailTo}?subject=Tidrapport för v${week}&body=${mailHref}">Maila</a></div>
            <div id="report-toolbar-copy"><a href="#" onclick="copyToClipboard(${mailString}); event.preventDefault();">Kopiera</a></div>
            <div style="text-align:right"><a href="logout">Logga ut</a></div>
        </div>
        <div id="report-mail">
            ${mailBr}
        </div>
    </div>
    <script>
        function copyToClipboard(text) {
            var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

            if (iOS) return alert('Stöds inte på iOS ännu');

            var copyElement = document.createElement('textarea');
            copyElement.value = text;
            copyElement = document.body.appendChild(copyElement);
            copyElement.select();
            document.execCommand('copy');
            copyElement.remove();
        }
    </script>
</body>
</html>