<!DOCTYPE html>
<html lang="sv-SE">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <title>nilleglad</title>
</head>
<body id="report">
    <div id="report-content">
        <div id="report-title"><a href=".">NILLEGLAD</a></div>
        <div id="report-toolbar">
            <div><a id="mailto">Maila</a></div>
            <div id="report-toolbar-copy"><a href="#" onclick="doCopyToClipboard(); event.preventDefault();">Kopiera</a></div>
            <div style="text-align:right"><a href="logout">Logga ut</a></div>
        </div>
        <div id="report-mail">
            Hej,<br>
            <br>
            <div>
                Tidrapport för v.
                <input id="week" class="yearweek" type="text" value="${week}" size="2" oninput="doFetchReport()">
                <input id="year" class="yearweek" type="text" value="${year}" size="4" oninput="doFetchReport()">
            </div>
            <br>
            <div id="report-content">
                <div id="fetch-failed">Misslyckades med att hämta rapport, <a href="#" onclick="event.preventDefault(); doFetchReport()">försök igen</a></div>

                <div id="fetching-report">Hämtar rapport...</div>

                <div id="fetched-report">
                    Visby: <span id="times-visby"></span> h (<span id="times-ph-visby"></span> ph)<br>
                    Stockholm: <span id="times-distans"></span> h (<span id="times-ph-distans"></span> ph)<br>
                    <br>
                    Totalt: <span id="times-total"></span> h (<span id="times-ph-total"></span> ph)<br>
                    <br>
                    Mvh<br>
                    <span id="person-first-name"></span> <span id="person-family-name"></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.INITIAL_STATE = {
            report: ${report},
            mailTo: '${mailTo}',
            pendingYearWeek: {}
        };
    </script>
    <script src="webapp.js"></script>
</body>
</html>